/*
 * Google Fonts: Noto Sans JP
 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

/* --- リセットと基本設定 --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: #f7f7f7;
    -webkit-text-size-adjust: 100%; /* Safari対策 */
}

a {
    text-decoration: none;
    color: inherit;
    transition: opacity 0.3s;
}

a:hover {
    opacity: 0.8;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

ul, ol {
    list-style: none;
}

.inner{
    max-width: 850px;
    margin: 0 auto;
    padding: 0 20px;
}

/* --- 共通レイアウトとユーティリティ --- */
.normal {
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 20px;
}

/* PC/SP表示の切り替え */
.pconly { display: block; }
.sponly { display: none; }
@media (max-width: 768px) {
    .pconly { display: none; }
    .sponly { display: block; }
    .normal {
        padding: 40px 15px;
    }
}

/* ハンバーガーメニュー (SPでは非表示) */
.open-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    z-index: 101;
    display: block; /* 初期状態では非表示 */
    opacity: 0;
    transition: opacity 0.5s;
    overflow-y: auto;
}
.open-menu.active {
    display: none;
    opacity: 1;
}

